
<div class="container">

    <div class="row">
        <h1>Project wall </h1>
    </div>

    <div class="row">
        
        <ul class="nav nav-tabs">
            <li 
                ng-class="{active: activeTab=='dailyScrum'}"
                ng-click="activeTab = 'dailyScrum'">
                <a href="">Daily scrum</a>
            </li>
            
            <li 
                ng-class="{active: activeTab=='discussion'}"
                ng-click="activeTab = 'discussion'">
                <a href="">Discussion</a>
            </li>
            
            <li 
                ng-class="{active: activeTab=='documentation'}"
                ng-click="activeTab = 'documentation'">
                <a href="">Documentation</a>
            </li>
        </ul>

        
        <div class="tab-content">
            <div ng-switch="activeTab">
                <div ng-switch-when="dailyScrum">
                    <div ng-include="'app/partials/dailyScrum.html'"></div>
                </div>
                <div ng-switch-when="discussion">
                    <div ng-include="'app/partials/discussion.html'"></div>
                </div>
                <div ng-switch-when="documentation">
                    <div ng-include="'app/partials/documentation.html'"></div>
                </div>
            </div>
            
        </div>
    </div>
</div>

