
<div class="container">

    <form class="form-horizontal" role="form" style="margin-top: 10px">

        <div class="form-group">
            <label class="col-sm-3 control-label">What have you done since your last meeting?</label>
            <div class="col-sm-9">
                <textarea class="form-control" placeholder="...."></textarea>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label">What are you planning to do until next meeting?</label>
            <div class="col-sm-9">
                <textarea class="form-control" placeholder="...."></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Have you experienced any problems or issues?</label>
            <div class="col-sm-9">
                <textarea class="form-control" placeholder="...."></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-success">Post on wall</button>
            </div>
        </div>
    </form> 

</div>

